<h1>Poker Chipz</h1>
<form id="formCreateTable" action="/create-table" method="POST">
  <label for="name">Your Name</label>
  <input id="name" type="text" name="name" autocomplete="name" />
  <label for="buyIn">Table Buy-In</label>
  <input id="buyIn" type="number" name="buyIn" value=1000 />
  <button id="btnCreate" type="submit">Create Table</button>
  <p>Your friend already created a table? <a href="/join-table">Join an existing table</a></p>
</form>