<h1>Poker Chipz</h1>
<form id="formJoinTable" action="/join-table" method="POST">
  <label for="name">Your Name</label>
  <input id="name" type="text" name="name" autocomplete="name" />
  <label for="id">Table Id</label>
  <input id="id" type="text" name="id" />
  <button id="btnJoin" type="submit">Join Table</button>
</form>
<script type="module" src="scripts/join-table.js"></script>